{% extends "base.html" %}
{% block title %}Single Workout{% endblock %}
{% block content %}
    <div class="container">
        <h2>Workout on {{ route[0][3].strftime('%Y-%m-%d %H:%M:%S') }}</h2>
        <table class="stats-table">
            <tr>
                <th>Distance (km)</th>
                <td>{{ "%.2f"|format(distance) }}</td>
            </tr>
            <tr>
                <th>Elevation Gain (m)</th>
                <td>{{ "%.2f"|format(elevation_gain) }}</td>
            </tr>
            <tr>
                <th>Average Pace (min/km)</th>
                <td>{{ "%.2f"|format(pace) }}</td>
            </tr>
        </table>
        <div id="map"></div>
    </div>
    <script>
        var map = L.map('map').setView([{{ route[0][0] }}, {{ route[0][1] }}], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
        }).addTo(map);
        var latlngs = [
            {% for point in route %}
            [{{ point[0] }}, {{ point[1] }}],
            {% endfor %}
        ];
        var polyline = L.polyline(latlngs, {color: 'blue'}).addTo(map);
        map.fitBounds(polyline.getBounds());
    </script>
{% endblock %}
